
<div class="p-2">

    <form class="form-inline d-flex align-items-end">
     
      <div>
       <app-fbtextbox></app-fbtextbox>
    </div>
  
    <div>
        <label class="d-flex justify-content-start html7magic ">Password</label>
      <input class="input1" id="password" type="password" placeholder="password" required>
    
    </div>
    <div>
      <app-fbsubmit></app-fbsubmit>
    </div>
    
    </form>
    <div class="forgotten"><a href="https://www.facebook.com/recover/initiate?lwv=110&amp;ars=royal_blue_bar">Forgotten account?</a></div>
    
  </div>
  