<div class="row  contentd-flex justify-content-sm-center">
<div class="col-sm-6 content" >
  <h3>Facebook helps you connect and share with the people in your life.</h3>

<img src="connectpeople.png" alt="fbicon"width="500 ">
</div>
<div class="col-sm-6">
  <div class="size1">
      <span class="tweight">Create an account</span>
  </div>
  <div class="size2">
      It's free and always will be.
  </div>
<div class="largeform">
  <form>
  <div class="fullname form-group">
    <div class="firstname form-group">
      <input class="first-text form-control" type="text" placeholder="First name" required>
    </div>
    <div class="firstname form-group">
        <input class="first-text form-control" type="text" placeholder="Surname" required>
      </div>
  </div>
  <div class="mobile">
      <input class="second-text form-control" type="text" placeholder="Mobile number or email address" required>

  </div>
  <div class="password">
      <input class="second-text form-control" type="text" placeholder="New Password" required>

  </div>
  <div class="size2 birth d-flex justify-content-sm-between w-50">
    Birthday
    <span>
    <input class="date form-control"type="date" required>
  </span>
  </div>
  <div class="femaleradio">
      
        <input type="radio">
      
      <label class="size2 female"> Female</label>
  
      
        <input type="radio">
      
      <label class="size2"> Male</label>
    </div>
    <div>
      <p class="agreement">By clicking Sign Up, you agree to our <a href="https://www.facebook.com/legal/terms/update">Terms</a>, <a href="https://www.facebook.com/about/privacy/update">Data Policy </a>and<a href="https://www.facebook.com/policies/cookies/"> Cookie Policy</a>. You may receive SMS notifications from us and can opt out at any time.</p>
    </div>
    <button class="btn btn-success my-2 my-sm-0 signup" type="submit">Sign Up</button>

  </form>
</div>


</div>

</div>